jupyterlab
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-qdrant
langchain-huggingface
qdrant-client
sentence-transformers
pypdf
pandas
httpx
ipywidgets
torch
transformers
peft
trl
bitsandbytes
datasets
accelerate
scipy
unstructured
markdown
ipykernel
